*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-first: 'Montserrat', sans-serif;
  --font-family-second: 'Titillium Web', sans-serif;
  --font-family-third: 'Teko', sans-serif;
  --color-primary: rgb(56, 60, 77);
  --frosted-background-color: rgba(35, 41, 49, 0.6);
  --frosted-filter-blur: blur(4px);
  --frosted-box-shadow: -4px 8px 15px -5px rgba(78, 78, 78, 0.6),
    -9px 13px 20px -5px rgba(109, 103, 77, 0.6);
  --frosted-border: 0.5px solid rgba(126, 126, 126, 0.7);
  --frosted-border-highlight: 0.5px solid rgba(126, 126, 126, 1);
}

html {
  min-height: 100%;
}

body {
  background-image: url(../Images/mosi-knife--PVgDgKXgZA-unsplash-edit1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: var(--font-family-first);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0; left: 0; right: 0;
  gap: 1em;
  padding-right: 1em;
  padding-left: 1em;
  min-height: 3.5rem;
  margin-bottom: auto;
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  height: 4rem;

}

header .logo {
  height: 100%;
}

header img {
  height: 100%;
}

header form {
  width: 40%;
  min-width: 332px;
  display: flex;
  gap: inherit;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  align-items: center;
}

/* header label {
  height: 3rem;
  width: 100%;
} */
header input[type='search'] {
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  border-color: var(--frosted-border-color);
  color: black;
  font-weight: 500;
  border-radius: 50px;
  width: 100%;
  flex-grow: 1;
}

header input[type='search']:focus {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.user-location-button,
.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: rgb(48, 48, 48);
  color: rgba(255, 255, 255, 0.7);
  border: var(--frosted-border);
  cursor: pointer;
}

.user-location-button:hover,
.search-button:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(126, 126, 126, 1);
}

nav a {
  display: inline;
  padding-left: 1em;
  font-family: var(--font-family-first);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

nav a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

main {
  margin: auto 0;

  color: rgba(255, 255, 255, 0.7);
  display: grid;
  height: 100%;
  width: min(100%, 910px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: 5% 2.5%;
  margin: auto auto;
}

main > * {
  background-color: var(--frosted-background-color);
  backdrop-filter: var(--frosted-filter-blur);
  border: var(--frosted-border);
  border-radius: 5px;
  grid-column-end: span 4;
  box-shadow: var(--frosted-box-shadow);
  max-height: 100%;
}

.forecast-overview {
  grid-column-end: span 8;
  display: flex;
  flex-grow: 1;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  font-family: var(--font-family-first);
  font-weight: 100;
  /* gap: 1rem; */
}

.forecast-overview > * {
  flex-grow: 1;
}

.location-and-date {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin: 0.5rem;
}

.location {
  max-width: 70%;
}

.location {
  font-size: 2.25rem;
  font-weight: 200;
}

/* .location {
  font-size: 1.25rem;
  font-weight: 200;
} */

.date {
  font-size: 1.15rem;
  text-align: left;
}

.date .day-name {
  font-size: 1.75rem;
  font-weight: bolder;
  color: hsl(17, 76%, 60%);
}

.forecast-overview .weather {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  justify-content: space-between;
}

.forecast-overview .image-wrapper {
  max-height: 150px;
  max-width: 150px;
  display: flex;
  align-self: flex-start;
}

.image-wrapper img {
  height: 100%;
  object-fit: none;
}

.temp-wrapper {
  display: flex;
}

.temp {
  align-self: flex-end;
  font-size: 4rem;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}

.unit {
  font-size: 1.5rem;
  padding-top: 0.65rem;
}

.forecast-description {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.forecast-description > *,
.hourly-forecast > * {
  background-color: rgba(56, 60, 77, 0.5);
  border-top: 1px solid rgb(84, 90, 116);
  border-bottom: 1px solid rgb(84, 90, 116);
}

.forecast-description .unit {
  font-size: 0.75em;
}

.five-day-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five-day-forecast > * {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(84, 90, 116);
}

.five-day-forecast :last-child {
  border-bottom: none;
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  font-size: .75em;
}

.hourly-forecast .material-icons-outlined {
  font-size: .75rem;
}

.top-buttons, .btm-buttons {
  height: 1.25rem;
  display: flex;
  justify-content: space-around;
}

.top-buttons *, .btm-buttons * {
  width: 100%;
}

.top-buttons {
  justify-self: flex-start;
}

.hours-wrapper {
  display: flex;
  flex-direction: inherit;
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  
}

.hours-wrapper > :first-child {
  border-top: 2px solid hsl(227, 22%, 20%);
}

.hours-wrapper > * {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(84, 90, 116);
}

.btm-buttons {
  justify-self: flex-end;
}

/*
.image-temp-row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image-temp-row img {
  height: 150px;
  width: 150px;
}
.image-temp-row > span {
  font-size: 3rem;
} */
span .unitSys {
  font-size: 0.75em;
}

footer {
position: absolute;
bottom: 0; left: 0; right: 0;

}
